<a href="https://colab.research.google.com/github/nisrinasalma2025-eng/Kka_x-semester-1-Nisrinasalma/blob/main/1_Fungsi_print_Nisrina_Salma_x_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Menampilkan teks bebas

In [ ]:
print("hello wordl!")

hello wordl!

In [ ]:
print("Nisrina salma")

#Menampilkan nilai variabel

In [ ]:
Nama = "Nisrina Salma"
print(Nama)

Nisrina Salma

In [ ]:
usia = 16
print(usia)

16

#Menampilkan nilai variabel dan teks bebas

In [ ]:
harga_telur = 26000
print ("harga telur per 1 kg  adalah", Harga_1 telur)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-4262738906.py, line 2)

In [ ]:
harga telur 6000
print ("Harga telur per 1 kg adalah " + str(harga_telur))

SyntaxError: invalid syntax (ipython-input-2969287364.py, line 1)

Latihan soal

   1. Tampilkan teks bebas : Hari ini saya bahagia belajar phython
   2. Tampilkan nilai variabel: mata_pelajaran_favorit = kodedan kecerdasan buatan
   3. Tampilkan nilai_variabel:nilai_kka = 100
   4. Tampilkan teks bebas dan nilai variabel dengan tiga kode (f string, "+",","): " Nilai kka saya adalah {nilai_kka} loh!

# Escape character

In [ ]:
print("Nama: Nisrina salma")
print("Kelas: x.1")
print("No absen: 24")

Nama: Nisrina salma
Kelas: x.1
No absen: 24

In [ ]:
print("Nama\t\t: Nisrina salma\nkelas\t\t: x.1 \nNomer absen\t:24")

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-519276895.py, line 1)

In [ ]:
print("""Nama: Nisrina salam )
kelas: x1
nomer absen: 24""")

Nama: Nisrina salam )
kelas: x1
nomer absen: 24

In [ ]:
print('jaFar shodiq')

jaFar shodiq

In [ ]:
print("Bu shinta berkata, \"OK\"")

Bu shinta berkata, "OK"

In [ ]:
print('bu shinta berkata, "OK"')

bu shinta berkata, "OK"

#Parameter fungsi

Nama_siswa_1 = "Fafian"
Nama_siswa_2 = "Naufal"
Nama_siswa_3 = "Humaira"

print(Nama_siswa_1,Nama_siswa_2 Nama _siswa_3, sep"*")

In [ ]:
print(Nama_siswa_1, end="*")
print(Nama_siswa_2, end="*")
print(Nama_siswa_3)

NameError: name 'Nama_siswa_1' is not defined

In [ ]:
# Tampilkan keluaran berupa:
# Naufal~fafian~Humaira~fafian
# Dengan parameter sep

In [ ]:
# Tampilkan keluaran berupa:
# Naufal~fafian
# Humaira~fafian
# Dengan prameter end