<a href="https://colab.research.google.com/github/nisrinasalma2025-eng/Kka_x-semester-1-Nisrinasalma/blob/main/salinan_dari_1_fungsi_print_nisrina_salma_x_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nama_panjang = "Nisrina salma"

In [ ]:
nama_idola ="Sandrina michele"

In [ ]:
usia = 16

In [ ]:
nama_saudara = "Nuril dan safira"

In [ ]:
jumlah_saudara = 2

menampilkan nilai variabel dan string

In [ ]:
print("nama idola saya adalah",nama_idola,". usianya adalah",usia,"tahun.")

NameError: name 'nama_idola' is not defined

""" latihan soal
    
    Gunakan escape character:
    tampilkan teks seperti dibawah ini:

    bu sintha berkata. "berikut adalah daftar piket harian kelas x.2 yang disimpan di file D:\Mandemak\j
    
    senin.    selasa.    rabu
    jielo.    hasbi.     naufal
    azam.     ainun.     nurul

In [ ]:
print("nama idola saya adalah "+nama_idola+". usianya adalah "str(usia)+" tahun.")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-174598579.py, line 1)

p karakter melarikan diri

In [ ]:
print("nama:Nisrina")
print("kelas:x.1")
print("No. absen:2 ")

nama:Nisrina
kelas:x.1
No. absen:2

In [ ]:
print("Nama:Nisrina\nkelas:x.1\nNo . Absen: 24")

Nama:Nisrina
kelas:x.1
No . Absen: 24

In [ ]:
print("""Nama\t\t: nisrina
kelas\t\t: x.1
No. absen\t: 24""")

Nama		: nisrina
kelas		: x.1
No. absen	: 24

In [ ]:
print("nama saya nisrina salma")

nama saya nisrina salma

In [ ]:
print('nama saya nisrina salma')

nama saya nisrina salma

In [ ]:
print( "nama saya nisrina salma'")

nama saya nisrina salma'

In [ ]:
print( "nisrina berkata \"bismillah\"")

nisrina berkata "bismillah"

In [ ]:
print("silahkan simpan gile tugas kkadi folder disk D:\\Man Demak kka\\tugas\\")

silahkan simpan gile tugas kkadi folder disk D:\Man Demak kka\tugas\

In [ ]:
print("nama_siswa_1 = Dias")
print("nama_siswa_2 = Disa")

nama_siswa_1 = Dias
nama_siswa_2 = Disa

In [ ]:
print(nama_siswa_1. ,  nama siswa_2,  sep ="/")

SyntaxError: invalid syntax (ipython-input-1299842153.py, line 1)